/*     Home - Introduction Component      */

.intro-comp{
    background-color: #E8E8E8;
    align-content: center;
    padding: 40px 80px; 
} 

.intro-comp h1{
    font-weight: bolder;
}

.intro-comp p{
    margin: 10px;
}

.intro-comp Button{
    border-radius: 5px;
    margin: 10px;
}