a{    
    color:rgb(141, 141, 141) !important ;
    font-size:1.3em !important;
}
a:hover{
    background-color: black !important;
    color:white !important;
    transition: all 0.2s ease-in-out;
}
.header{
    background-color: #282828 !important;
    height: 4em;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar-items:hover{
    background-color: black !important;
    transition: all 0.2s ease-in-out;
}
.bx--header__nav{
 padding-left: 1px;
}
.bx--header__action{
    background-color: black !important;
}
.bx--header__action{
    height:4em;
    display:none;
}
.bx--header__action svg{
    height:25px;
    width:25px;
}
.bx--header__menu-item:focus {
    border:none;
    color:whitesmoke !important;
}
.header-side{
    background-color: #282828 !important;
    font-family: Arial, Helvetica, sans-serif;
    margin-top:0.6em;
}
.bx--switcher__item-link:focus{
   color:whitesmoke !important;
   border:none;
}
.bx--header__action{
    border:none;
    background-color :#282828 !important;
}

@media only screen and (max-width: 900px) {
    .bx--header__action{
        display:inline-block;
        background-color: none  ;
    }
    .nav-menu{
        display:none;
    }
    .focus-in{
        background-color :black !important;

    }
    .focus-out{
        background-color :#282828 !important;
    }
    
  }