@import "./components/Header/index.scss";
@import "./components/SearchBox/index.scss";

html,
body {
  height: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.intro-comp {
  box-shadow: "10px 20px 30px blue";
  border-radius: 4px;

  .btn {
    padding: 12px;
  }
}

.search-results {
  &__title {
    text-align: center;
    margin-top: 32px;
    font-weight: 900;
  }
}
