@import "./components/Header/index.scss";
@import "./components/SearchBox/index.scss";

html,
body {
  height: 100%;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

.intro-comp {
  box-shadow: "10px 20px 30px blue";
  border-radius: 4px;

  .btn {
    padding: 12px;
  }
}

.search-query {
  text-align: center;
  margin-top: 32px;
  font-weight: 900;
  margin-bottom: 32px;
}
.search-results {
  &__card {
    width: 25%;
    border: 1px solid gray;
    margin: 0 8px;
    img {
      width: 100%;
      margin-bottom: 16px;
    }
  }
}
